In [ ]:
from sklearn.impute import SimpleImputer

# 머신러닝 모델 기본  실습

In [3]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression() # 모델선언
model.fit(x, y) # 학습(fit)
prediction = model.predict(x2)

NameError: ignored

In [ ]:
x = np.arange(10).reshape(-1, 1)
y = (2*x +1).reshape(-1, 1)

In [ ]:
# 모델선언
model = LinearRegression()

In [ ]:
# 학습
model.fit(x, y)

In [ ]:
# 예측
prediction = model.predict([[10.0]])

In [ ]:
prediction

# 학습 데이터, 예측 데이터

In [ ]:
X: 
 - feature 라고 부른다
 - x_train, x_test
 - 학습을 위한 데이터 세트

In [ ]:
Y:
 - labels라고 불리웁니다.
 - y_train, y_test
 - 예측해야할 값

In [ ]:
학습을 위한 데이터 = Training set, 예측을 위한 데이터 = Test set

두개의 데이터의 차이는 학습용 데이터 셋 에는 label이 존재하고 예측을 위한 데이터는
feature 만 존재한다.

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

# 전처리

데이터 분석에 적합하게 데이터를 가공, 변형, 처리, 클리닝 하는 작업

1. 결측지
2. 이상치
3. 정규화(Normalization)
4. 표준화(Standardization)
5. 샘플링(over/under sampling)
6. 피처공학(Feature Engineering)
 -  feature 생성/ 연산
 * 구간 생성, 스케일 변형

## train_test_split

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
train = pd.read_csv('https://bit.ly/fc-ml-titanic')

## train과 validation 세트 나누기

1. feature와 label을 정의하기
2. 적절한 비율로 train과 validation set을 나눈다.

In [ ]:
feature = [
           'Pclass', 'Sex', 'Age', 'Fare'
           ]

In [ ]:
label = ['Survived']

In [ ]:
train[feature].head()

In [ ]:
train[label].head()

In [ ]:
from sklearn.model_selection import train_test_split

return 받는 데이터의 순서 중요

* test_size : validation set에 할당할 비율(20% = 0.2)

* shuffle : 셔플 옵션(기본 True)

* random_state : 랜덤 시드값

In [ ]:
x_train, x_valid, y_train, y_valid = \
train_test_split(train[feature], train[label], test_size = 0.2, shuffle =True, random_state = 30)

In [ ]:
x_train.shape, y_train.shape

In [ ]:
x_valid.shape, y_valid.shape

## 결측지

결측지 확인 : isnull()

In [ ]:
train.isnull().sum()

## numerical  데이터에 대한 결측지 처리

In [ ]:
train['Age'].fillna(0).describe()

imputer : 2개 이상의 column을 한번에 처리할 때

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(strategy= 'mean')
# strategy = 'mean' 평균값으로 채워주겠다

In [ ]:
# fit()을 통해 결측지에 대한 학습을 진행한다.
imputer.fit(train[['Age', 'Pclass']])

In [ ]:
# transform()은 실제 결측치에 대한 처리를 해주는 함수(fit에서는 처리가 되지는 않고 학습만 진행)
result = imputer.transform(train[['Age','Pclass']])

In [ ]:
train[['Age', 'Pclass']] = result

In [ ]:
train[['Age', 'Pclass']].isnull().sum()

In [ ]:
result
# array로 생성

fit()과 transform()동시 사용가능

In [ ]:
# # 이렇게 하면 동시에 fit 과 transform을 같이 할 수 있음
# result = imputer.fit_transform(train[['Age', 'Pclass']])

## categorical 데이터에 대한 결측지 처리

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
train = pd.read_csv('https://bit.ly/fc-ml-titanic')

In [ ]:
train['Embarked'].fillna('S')

imputer 사용하는경우 : 2개 이상의 column을 처리할때

In [ ]:
imputer = SimpleImputer(strategy = 'most_frequent')
# most_frequent 가장 빈도수가 높은 것으로 채운다

In [ ]:
result =imputer.fit_transform(train[['Embarked', 'Cabin']])

In [ ]:
train[['Embarked', 'Cabin']] = result

In [ ]:
train[['Embarked', 'Cabin']].isnull().sum()

## Label Encoding : 문자(categorical)를 수치(numerical)로 변환

학습을 위해 문자로 된 데이터를 수치로 변환한다.

In [ ]:
# 함수식으로 변환
def convert(data):
  if data == 'male':
    return 1
  elif data == 'female':
    return 0

In [ ]:
train['Sex'].apply(convert)

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()
train['Sex'] = le.fit_transform(train['Sex'])

In [ ]:
train['Sex'].value_counts()

1    577
0    314
Name: Sex, dtype: int64

In [ ]:
le.classes_

array(['female', 'male'], dtype=object)

In [ ]:
# 다시원래대로 
le.inverse_transform([0,1,1,0,0,1,1])

array(['female', 'male', 'male', 'female', 'female', 'male', 'male'],
      dtype=object)

NaN값이 포함되어 있다면, LabelEncoder가 적상적으로 동작하지 않는다.

## One-Hot Encoding

In [ ]:
train = pd.read_csv('https://bit.ly/fc-ml-titanic')

In [ ]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
# NaN값 제거
train['Embarked'] = train['Embarked'].fillna('S')

In [ ]:
train['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

여기서 만약 LabelEncoding을 하게 되면 0, 1, 2이렇게 변환이 된다.
Embarked는 항구 이름에 대한것인데 S = 2 이고 Q =1 일때  Q + Q = S가 된다. 즉 규칙성이 갑자기 생겨버리게 된다. 따라서 이런 독립적인 데이터는 별도로 분리하는 방법이 원핫인코딩이다.

In [ ]:
train['Embarked'][:6]

0    S
1    C
2    S
3    S
4    S
5    Q
Name: Embarked, dtype: object

In [ ]:
# 원핫 인코딩 사용 (pd.get_dummies())
pd.get_dummies(train['Embarked'][:6])

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1
5  0  1  0

이렇게 원핫인코딩은 카테고리 의 특성을 가지는 column에 대해서 적용 한다.

norminal 데이터 : 원핫인코딩, map
ordinal 데이터 : LabelEncoding

## Normalize (정규화)

column 간에 다른 min, max값을 가지는 경우, 정규화를 통해 최소치/ 최대값의 척도를 맞추어 주는것

- 네이버 영화평점 (0점~ 10점) : [2, 4, 6, 8, 10]
- 넷플릭스 영화평점 (0점 ~ 5점) : [1, 2, 3, 4, 5]

In [2]:
movie = {'naver' : [2, 4, 6, 8, 10],
         'netflix' : [1, 2, 3, 4, 5]
         }

In [4]:
import pandas as pd
movie = pd.DataFrame(data = movie)
movie

   naver  netflix
0      2        1
1      4        2
2      6        3
3      8        4
4     10        5

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
min_max_scaler = MinMaxScaler()

In [7]:
min_max_movie = min_max_scaler.fit_transform(movie)

In [8]:
pd.DataFrame(min_max_movie, columns=['naver', 'netflix'])

   naver  netflix
0   0.00     0.00
1   0.25     0.25
2   0.50     0.50
3   0.75     0.75
4   1.00     1.00

## 표준화 (Standard Scaling)

평균이 0과 표준편차가 1이 되도록 변환

In [9]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()

샘플데이터를 생성합니다

In [10]:
x = np.arange(10)
# outlier 추가
x[9] = 1000

In [11]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [12]:
scaled = standard_scaler.fit_transform(x.reshape(-1,1))

In [13]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [14]:
scaled.mean(), scaled.std()

(4.4408920985006264e-17, 1.0)

In [15]:
round(scaled.mean(), 2), scaled.std()

(0.0, 1.0)