# 머신러닝 모델 기본  실습

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression() # 모델선언
model.fit(x, y) # 학습(fit)
prediction = model.predict(x2)

In [ ]:
x = np.arange(10).reshape(-1, 1)
y = (2*x +1).reshape(-1, 1)

In [ ]:
# 모델선언
model = LinearRegression()

In [ ]:
# 학습
model.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# 예측
prediction = model.predict([[10.0]])

In [ ]:
prediction

array([[21.]])

# 학습 데이터, 예측 데이터

In [ ]:
X: 
 - feature 라고 부른다
 - x_train, x_test
 - 학습을 위한 데이터 세트

In [ ]:
Y:
 - labels라고 불리웁니다.
 - y_train, y_test
 - 예측해야할 값

In [ ]:
학습을 위한 데이터 = Training set, 예측을 위한 데이터 = Test set

두개의 데이터의 차이는 학습용 데이터 셋 에는 label이 존재하고 예측을 위한 데이터는
feature 만 존재한다.

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

# 전처리

데이터 분석에 적합하게 데이터를 가공, 변형, 처리, 클리닝 하는 작업

1. 결측지
2. 이상치
3. 정규화(Normalization)
4. 표준화(Standardization)
5. 샘플링(over/under sampling)
6. 피처공학(Feature Engineering)
 -  feature 생성/ 연산
 * 구간 생성, 스케일 변형

# train_test_split

In [2]:
import numpy as np
import pandas as pd

In [3]:
train = pd.read_csv('https://bit.ly/fc-ml-titanic')

## train과 validation 세트 나누기

1. feature와 label을 정의하기
2. 적절한 비율로 train과 validation set을 나눈다.

In [4]:
feature = [
           'Pclass', 'Sex', 'Age', 'Fare'
           ]

In [5]:
label = ['Survived']

In [6]:
train[feature].head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [7]:
train[label].head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [8]:
from sklearn.model_selection import train_test_split

return 받는 데이터의 순서 중요

* test_size : validation set에 할당할 비율(20% = 0.2)

* shuffle : 셔플 옵션(기본 True)

* random_state : 랜덤 시드값

In [10]:
x_train, x_valid, y_train, y_valid = \
train_test_split(train[feature], train[label], test_size = 0.2, shuffle =True, random_state = 30)

In [11]:
x_train.shape, y_train.shape

((712, 4), (712, 1))

In [12]:
x_valid.shape, y_valid.shape

((179, 4), (179, 1))